<ul>
    {{#if username}}
        <li><a href="/">index</a></li>
        <li><a href="/dash">user dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
    {{else}}
        <li><a href="/login">Login</a></li>
    {{/if}}
    <li><a href="/cadastro">Cadastro</a></li>
</ul>

<br>
<br>
<br>
<br>